{% extends 'base.html.twig' %}

        {% block stylesheets %}
            <style>
                body{
                    background-image: url("https://t4.ftcdn.net/jpg/04/21/56/51/360_F_421565174_o2Qihq7OyT9bs3jEe34A1RgaHR1Cc1iG.jpg");
                }
                #titulo{
                    color: white;
                    text-align: center;
                }

                table{
                    text-align: center;
                }
                #card1{
                    width: 50%;
                    height: 50%;
                    margin: auto auto;
                    margin-top: 5%;
                    background: #8a8a8a;
                }
                #CorreoRegistrado{
                    color: white;
                    text-align: center;
                }
                #btnvolver{
                    text-align: center;
                }
            </style>
        {% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready( function () {
                $('#myTable').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }
                });
            } );
        </script>
    {% endblock %}

{% block body %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0" id="titulo">Lista jugadores</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                    <a class="nav-link active" href="/jugador">Jugadores</a>
                    <a class="nav-link" href="/equipo">Equipos</a>
                    <a class="nav-link" href="/Contact.html">Contacto</a>
                </nav>
            </div>
            <div class="mb-3" id="CorreoRegistrado">
                Bienvenido {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar Sesion</a>
            </div>
        </header>
    </div>
        <br>
    <h3 id="titulo">Jugadores del {{ equipo.nombre }}</h3>
        <div class="card" id="card1">
            <div class="card-body">
                <table id="myTable" class="table table-dark table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Posicion</th>
                        <th>Fecha_nacimiento</th>
                        <th>Salario</th>
                        <th>Equipo</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for jugador in equipo.jugador %}
                        <tr>
                            <td>{{ jugador.id }}</td>
                            <td>{{ jugador.nombre }}</td>
                            <td>{{ jugador.posicion }}</td>
                            <td>{{ jugador.fechaNacimiento ? jugador.fechaNacimiento|date('Y-m-d') : '' }}</td>
                            <td>{{ jugador.salario }}</td>
                            <td>{{ jugador.equipo }}</td>
                            <td>
                                <a href="{{ path('app_jugador_show', {'id': jugador.id}) }}"><i class="bi bi-eye-fill"></i></a>
                                <a href="{{ path('app_jugador_edit', {'id': jugador.id}) }}"><i class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer" id="btnvolver">
                    <a type="button" class="btn btn-primary" href="{{ path('app_equipo_index') }}">Volver</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}